<%var date =Date()%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Current flights</title>
</head>
<body>
    <h1><%= title %></h1>
    <a href='/flights'>
        <p>See All Flights</p>
    </a>
</body>
</html>
<!--AAU, I want to view a list of all flights (index view) that displays each 
    flight's airline, flight no.,
     and departure date/time.-->