<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
</head>
<body>
    <h2>Select Airline</h2>
    <form action="/model/flights" method="POST">
    <label>Select Airline
        <select name="Airlines"></select>
        <option value="American">American</option>
        <option value="SouthWest">SouthWest</option>
        <option value="United">United</option>
    </label>
       <label>flightNo.
            <!--figure out in the morning-->>
        </label>
    <label>
        <input type="datetime-local">
    </label>
</form>
</body>
</html>